# Libs:

In [108]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import OneHotEncoder

# Prepare data

In [109]:
df = pd.read_csv('/home/antonius/Projects/DS_Projects/learn_XGBoost/data/student-por.csv',sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [110]:
len(df)

649

In [111]:
df.isna().mean().sort_values(ascending=False)

age           0.001541
sex           0.001541
guardian      0.001541
school        0.000000
freetime      0.000000
higher        0.000000
internet      0.000000
romantic      0.000000
famrel        0.000000
goout         0.000000
activities    0.000000
Dalc          0.000000
Walc          0.000000
health        0.000000
absences      0.000000
G1            0.000000
G2            0.000000
nursery       0.000000
famsup        0.000000
paid          0.000000
schoolsup     0.000000
failures      0.000000
studytime     0.000000
traveltime    0.000000
reason        0.000000
Fjob          0.000000
Mjob          0.000000
Fedu          0.000000
Medu          0.000000
Pstatus       0.000000
famsize       0.000000
address       0.000000
G3            0.000000
dtype: float64

In [112]:
df.isnull().sum()

school        0
sex           1
age           1
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      1
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [113]:
pd.options.display.max_columns = None

In [114]:
df[df.isna().any(axis=1)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11

In [115]:
df['age'].median()

17.0

In [116]:
df['age'] = df['age'].fillna(df['age'].median())

In [117]:
df.isnull().sum()

school        0
sex           1
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      1
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [118]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19.0,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10
645,MS,F,18.0,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,4,1,1,1,4,15,15,16
646,MS,F,18.0,U,GT3,T,1,1,other,other,course,mother,2,2,0,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,6,11,12,9
647,MS,M,17.0,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,6,10,10,10
648,MS,M,18.0,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,4,10,11,11

In [119]:
df['sex'].value_counts()

F    382
M    266
Name: sex, dtype: int64

In [120]:
df['sex'].mode()

0    F
Name: sex, dtype: object

In [121]:
df['guardian'].mode()

0    mother
Name: guardian, dtype: object

In [122]:
df['sex'] = df['sex'].fillna(df['sex'].mode())
df['guardian'] = df['guardian'].fillna(df['guardian'].mode())

In [123]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

One-Hot Encoding

In [124]:
categorical_columns = df.columns[df.dtypes==object].tolist()
categorical_columns

['school',
 'sex',
 'address',
 'famsize',
 'Pstatus',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic']

In [125]:
ohe = OneHotEncoder()

In [126]:
hot = ohe.fit_transform(df[categorical_columns])
hot_df = pd.DataFrame(hot.toarray())
hot_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0

In [127]:
cold_df = df.select_dtypes(exclude=["object"])
cold_df.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18.0,4,4,2,2,0,4,3,4,1,1,3,4,0,11,11
1,17.0,1,1,1,2,0,5,3,3,1,1,3,2,9,11,11
2,15.0,1,1,1,2,0,4,3,2,2,3,3,6,12,13,12
3,15.0,4,2,1,3,0,3,2,2,1,1,5,0,14,14,14
4,16.0,3,3,1,2,0,4,3,2,1,2,5,0,11,13,13

In [128]:
from scipy.sparse import csr_matrix
cold = csr_matrix(cold_df)

from scipy.sparse import hstack
final_sparse_matrix = hstack((hot, cold))

final_df = pd.DataFrame(final_sparse_matrix.toarray())
final_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,17.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [129]:
from sklearn.base import TransformerMixin 
class NullValueImputer(TransformerMixin):
    def __init__(self):
        None
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        for column in X.columns.tolist():
            if column in X.columns[X.dtypes==object].tolist():
                X[column] = X[column].fillna(X[column].mode())
            else:
                X[column]=X[column].fillna(-999.0)
        return X

In [130]:
df = pd.read_csv('/home/antonius/Projects/DS_Projects/learn_XGBoost/data/student-por.csv',sep=';')
nvi = NullValueImputer().fit_transform(df)
nvi.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,-999.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [131]:
class SparseMatrix(TransformerMixin):
    def __init__(self):
        None
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        categorical_columns= X.columns[X.dtypes==object].tolist()
        ohe = OneHotEncoder() 
        hot = ohe.fit_transform(X[categorical_columns])
        cold_df = X.select_dtypes(exclude=["object"])
        cold = csr_matrix(cold_df)
        final_sparse_matrix = hstack((hot, cold))
        final_csr_matrix = final_sparse_matrix.tocsr()
        return final_csr_matrix

In [132]:
sm = SparseMatrix().fit_transform(nvi)
print(sm)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (0, 10)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 25)	1.0
  (0, 28)	1.0
  (0, 29)	1.0
  (0, 31)	1.0
  (0, 33)	1.0
  (0, 36)	1.0
  (0, 38)	1.0
  (0, 39)	1.0
  (0, 41)	1.0
  (0, 43)	18.0
  (0, 44)	4.0
  (0, 45)	4.0
  (0, 46)	2.0
  (0, 47)	2.0
  (0, 49)	4.0
  (0, 50)	3.0
  (0, 51)	4.0
  :	:
  (648, 20)	1.0
  (648, 25)	1.0
  (648, 27)	1.0
  (648, 29)	1.0
  (648, 31)	1.0
  (648, 33)	1.0
  (648, 35)	1.0
  (648, 38)	1.0
  (648, 40)	1.0
  (648, 41)	1.0
  (648, 43)	18.0
  (648, 44)	3.0
  (648, 45)	2.0
  (648, 46)	3.0
  (648, 47)	1.0
  (648, 49)	4.0
  (648, 50)	4.0
  (648, 51)	1.0
  (648, 52)	3.0
  (648, 53)	4.0
  (648, 54)	5.0
  (648, 55)	4.0
  (648, 56)	10.0
  (648, 57)	11.0
  (648, 58)	11.0

In [133]:
sm_df = pd.DataFrame(sm.toarray())
sm_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,-999.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [134]:
df = pd.read_csv('/home/antonius/Projects/DS_Projects/learn_XGBoost/data/student-por.csv',sep=';')

In [135]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [136]:
y = df.iloc[:, -1]
X = df.iloc[:, :-3]

In [137]:
y

0      11
1      11
2      12
3      14
4      13
       ..
644    10
645    16
646     9
647    10
648    11
Name: G3, Length: 649, dtype: int64

In [138]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [139]:
from sklearn.pipeline import Pipeline
data_pipeline = Pipeline(
    [('null_imputer', NullValueImputer()),
     ('sparse', SparseMatrix())])


X_train_transformed = data_pipeline.fit_transform(X_train)

In [140]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

In [141]:
y_train.value_counts()

10    76
11    74
13    63
14    51
12    49
15    38
9     28
8     27
16    25
17    22
0     12
7      9
18     7
6      2
19     1
1      1
5      1
Name: G3, dtype: int64

In [142]:
kfold = KFold(
    n_splits=5,
    shuffle=True,
    random_state=42)

In [143]:
def cross_val(model):
    scores = cross_val_score(
        model,
        X_train_transformed,
        y_train,
        scoring='neg_root_mean_squared_error',
        cv=kfold)
    rmse = (-scores.mean())
    return rmse

In [144]:
cross_val(XGBRegressor(missing=-999.0))

2.968681489226994

In [145]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train_transformed, y_train, random_state=42)

In [146]:
def n_estimators(model):
    eval_set = [(X_test_2, y_test_2)]
    eval_metric="rmse"
    model.fit(X_train_2,
              y_train_2,
              eval_metric=eval_metric,
              eval_set=eval_set,
              early_stopping_rounds=100)
    
    y_pred = model.predict(X_test_2)
    rmse = MSE(y_test_2, y_pred)**0.5
    return rmse

In [147]:
n_estimators(XGBRegressor(n_estimators=5000, missing=-999.0))

[0]	validation_0-rmse:8.39189
[1]	validation_0-rmse:6.25833
[2]	validation_0-rmse:4.83781
[3]	validation_0-rmse:3.93958
[4]	validation_0-rmse:3.43244
[5]	validation_0-rmse:3.14521
[6]	validation_0-rmse:2.99112
[7]	validation_0-rmse:2.94658
[8]	validation_0-rmse:2.90697
[9]	validation_0-rmse:2.91457
[10]	validation_0-rmse:2.91518
[11]	validation_0-rmse:2.89512
[12]	validation_0-rmse:2.90190
[13]	validation_0-rmse:2.89509
[14]	validation_0-rmse:2.89008
[15]	validation_0-rmse:2.88383
[16]	validation_0-rmse:2.89893
[17]	validation_0-rmse:2.91941
[18]	validation_0-rmse:2.90780
[19]	validation_0-rmse:2.92798
[20]	validation_0-rmse:2.93176
[21]	validation_0-rmse:2.92787
[22]	validation_0-rmse:2.92776
[23]	validation_0-rmse:2.92544
[24]	validation_0-rmse:2.93269
[25]	validation_0-rmse:2.93346
[26]	validation_0-rmse:2.93906
[27]	validation_0-rmse:2.94321
[28]	validation_0-rmse:2.94432
[29]	validation_0-rmse:2.94496
[30]	validation_0-rmse:2.94526
[31]	validation_0-rmse:2.94498
[32]	validation_0-rmse:2.94365
[33]	validation_0-rmse:2.94708
[34]	validation_0-rmse:2.94689
[35]	validation_0-rmse:2.95205
[36]	validation_0-rmse:2.94787
[37]	validation_0-rmse:2.95152
[38]	validation_0-rmse:2.95282
[39]	validation_0-rmse:2.95330
[40]	validation_0-rmse:2.95303
[41]	validation_0-rmse:2.95194
[42]	validation_0-rmse:2.95211
[43]	validation_0-rmse:2.95330
[44]	validation_0-rmse:2.95340
[45]	validation_0-rmse:2.95377
[46]	validation_0-rmse:2.95368
[47]	validation_0-rmse:2.95436
[48]	validation_0-rmse:2.95295
[49]	validation_0-rmse:2.95343
[50]	validation_0-rmse:2.95243
[51]	validation_0-rmse:2.95270
[52]	validation_0-rmse:2.95309
[53]	validation_0-rmse:2.95467
[54]	validation_0-rmse:2.95415
[55]	validation_0-rmse:2.95312
[56]	validation_0-rmse:2.95279
[57]	validation_0-rmse:2.95302
[58]	validation_0-rmse:2.95309
[59]	validation_0-rmse:2.95237
[60]	validation_0-rmse:2.95224
[61]	validation_0-rmse:2.95179
[62]	validation_0-rmse:2.95164
[63]	validation_0-rmse:2.95126
[64]	validation_0-rmse:2.95184
[65]	validation_0-rmse:2.95260
[66]	validation_0-rmse:2.95236
[67]	validation_0-rmse:2.95261
[68]	validation_0-rmse:2.95271
[69]	validation_0-rmse:2.95261
[70]	validation_0-rmse:2.95244
[71]	validation_0-rmse:2.95230
[72]	validation_0-rmse:2.95256
[73]	validation_0-rmse:2.95268
[74]	validation_0-rmse:2.95289
[75]	validation_0-rmse:2.95284
[76]	validation_0-rmse:2.95304
[77]	validation_0-rmse:2.95331
[78]	validation_0-rmse:2.95366
[79]	validation_0-rmse:2.95366
[80]	validation_0-rmse:2.95381
[81]	validation_0-rmse:2.95391
[82]	validation_0-rmse:2.95413
[83]	validation_0-rmse:2.95409
[84]	validation_0-rmse:2.95401
[85]	validation_0-rmse:2.95405
[86]	validation_0-rmse:2.95400
[87]	validation_0-rmse:2.95395
[88]	validation_0-rmse:2.95408
[89]	validation_0-rmse:2.95404
[90]	validation_0-rmse:2.95406
[91]	validation_0-rmse:2.95399
[92]	validation_0-rmse:2.95388
[93]	validation_0-rmse:2.95379
[94]	validation_0-rmse:2.95378
[95]	validation_0-rmse:2.95387
[96]	validation_0-rmse:2.95384
[97]	validation_0-rmse:2.95393
[98]	validation_0-rmse:2.95376
[99]	validation_0-rmse:2.95378
[100]	validation_0-rmse:2.95382
[101]	validation_0-rmse:2.95382
[102]	validation_0-rmse:2.95374
[103]	validation_0-rmse:2.95371
[104]	validation_0-rmse:2.95370
[105]	validation_0-rmse:2.95362
[106]	validation_0-rmse:2.95359
[107]	validation_0-rmse:2.95368
[108]	validation_0-rmse:2.95367
[109]	validation_0-rmse:2.95367
[110]	validation_0-rmse:2.95365
[111]	validation_0-rmse:2.95369
[112]	validation_0-rmse:2.95366
[113]	validation_0-rmse:2.95367
[114]	validation_0-rmse:2.95362
[115]	validation_0-rmse:2.95364

2.8838332690342865

In [148]:
def grid_search(params, reg=XGBRegressor(missing=-999.0)):
    grid_reg = GridSearchCV(reg,
                            params,
                            scoring='neg_mean_squared_error',
                            cv=kfold)
    
    grid_reg.fit(X_train_transformed, y_train)
    
    best_params = grid_reg.best_params_
    print("Best params:", best_params)
    
    best_score = np.sqrt(-grid_reg.best_score_)
    print("Best score:", best_score)

In [149]:
grid_search(params={
    'max_depth':[1, 2, 3, 4, 6, 7, 8], 
    'n_estimators':[31]
           })

Best params: {'max_depth': 1, 'n_estimators': 31}
Best score: 2.7455972255890755

In [150]:
grid_search(params={
        'max_depth':[1, 2], 
        'min_child_weight':[1,2,3,4,5], 
        'n_estimators':[31]
    })

Best params: {'max_depth': 1, 'min_child_weight': 1, 'n_estimators': 31}
Best score: 2.7455972255890755

In [151]:
grid_search(params={
    'max_depth':[1],
    'min_child_weight':[2,3],
    'subsample':[0.5, 0.6, 0.7, 0.8, 0.9],
    'n_estimators':[31, 50]
})

Best params: {'max_depth': 1, 'min_child_weight': 2, 'n_estimators': 31, 'subsample': 0.7}
Best score: 2.716917120934011

In [152]:
grid_search(params={
    'max_depth':[1],
    'min_child_weight':[1, 2, 3], 
    'subsample':[0.8, 0.9, 1], 
    'colsample_bytree':[0.5, 0.6, 0.7, 0.8, 0.9, 1],
    'n_estimators':[50]
})

Best params: {'colsample_bytree': 0.5, 'max_depth': 1, 'min_child_weight': 1, 'n_estimators': 50, 'subsample': 1}
Best score: 2.747772748583107

In [153]:
grid_search(params={
    'max_depth':[1],
    'min_child_weight':[3], 
    'subsample':[.8], 
    'colsample_bytree':[0.9],
    'colsample_bylevel':[0.6, 0.7, 0.8, 0.9, 1],
    'colsample_bynode':[0.6, 0.7, 0.8, 0.9, 1],
    'n_estimators':[50]
})

Best params: {'colsample_bylevel': 0.6, 'colsample_bynode': 0.6, 'colsample_bytree': 0.9, 'max_depth': 1, 'min_child_weight': 3, 'n_estimators': 50, 'subsample': 0.8}
Best score: 2.762110296881857

In [154]:
cross_val(
    XGBRegressor(
        max_depth=1,
        min_child_weight=3,
        subsample=0.8, 
        colsample_bytree=0.9, 
        colsample_bylevel=0.9,
        colsample_bynode=0.8, 
        missing=-999.0,
        booster='dart',
        one_drop=True
    ))

2.769654230794039

In [155]:
X_test_transformed = data_pipeline.fit_transform(X_test)

In [156]:
type(y_train)

pandas.core.series.Series

In [157]:
y_train

213    11
43     10
42     15
73     14
494     9
       ..
71     10
106    10
270    15
435    10
102    12
Name: G3, Length: 486, dtype: int64

In [158]:
parameters = {
    'max_depth':1,
    'min_child_weight':3,
    'subsample':0.8, 
    'colsample_bytree':0.9, 
    'colsample_bylevel':0.9,
    'colsample_bynode':0.8,
    'n_estimators':50,
    'missing':-999.0
}

model = XGBRegressor(**parameters)

model.fit(X_train_transformed, y_train)

y_pred = model.predict(X_test_transformed)

rmse = MSE(y_pred, y_test)**0.5
rmse

2.9151080200010018

In [159]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19.0,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10
645,MS,F,18.0,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,4,1,1,1,4,15,15,16
646,MS,F,18.0,U,GT3,T,1,1,other,other,course,mother,2,2,0,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,6,11,12,9
647,MS,M,17.0,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,6,10,10,10
648,MS,M,18.0,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,4,10,11,11

In [160]:
y_pred = model.predict(X_test_transformed)